{% extends 'base.html' %}
{% load static from staticfiles %}

{% load bootstrap_tags %}

{% block page_title %}Profile Page{% endblock %}

{% block page_heading %}Home{% endblock %}

{% block content %}
<div class="col-md-12">
    <h3>{{ user.username }}</h3>
    <img src="{% static 'images/BlankProfileImage.png' %}"></img>
</div>
<div class="col-md-6">
    <div>
        <a href="#">Change Password</a>
    </div>
    <div>
        <a href="#">Change username</a>
    </div>
    <div>
        <a href="#">Change e-mail</a>
    </div>
    <div>
        <a href="#">update Profile</a>
    </div>
</div>
<div class="col-md-6">
    <p><strong>Name: </strong>{{ profile.name }}
    <p><strong>Gender: </strong>{{ profile.gender }}
    <p><strong>Age: </strong>{{ profile.age }}
    <p><strong>nationality: </strong>{{ profile.nationality }}
    <p><strong>E-mail: </strong>{{ profile.email }}
</div>
{% endblock %}