{% extends 'base.html' %}
{% load static from staticfiles %}

{% block content %}
    <h1 class="text-center">Welcome To Help The Homeless</h1>
    <div class="jumbotron height1">
        <div class="col-md-4">
            <img src="{% static 'images/Homeless-1.jpg' %}"></img>
        </div>
        <div class="col-md-4 i-text1">
            <p>Thousands of people at risk of dying whilst living on the streets every year. The time to act is now!</p>
        </div>
    </div>    
    <div class="jumbotron  height2">
        <h2 class="text-center">Our Goals</h2>
        <div class="col-md-4">
            <h3 class="text-center">Housing</h3>
            <img class="img" src="{% static 'images/homes.jpeg' %}"></img>
            <p>Our main goal is to provide as many homeless people as we can a safe place to sleep at night. Every year many die due to exposure to
            the harse weather and we feel this is unacceptable. To combat this situation we aim to aquire propertise we can use to shelter those at risk.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">Training</h3>
            <img class="img" src="{% static 'images/training.jpg' %}"></img>
            <p>For many of these unfortunate indaviduals becoming homeless has been due to not being able to retrain for new jobs. We aim to try and provide any and
            all nessissary training through collage courses to help those we take in to learn new skill sets that could help them gain employment.</p>
        </div>
        <div class="col-md-4">
            <h3 class="text-center">General Support</h3>
            <img class="img-2" src="{% static 'images/feeding.jpg' %}"></img>
            <p>Just housing and training is not enough, funding to help support the basic needs of those we try to help is crucial. From food to transport fee's it is important
            we help support them until they are able to support themselves financially.</p>
        </div>
    </div>

{% endblock %}