{% extends 'base.html' %}
{% block content %}
<h3>Contact Us</h3>
<p>19 Castle Gate<br>
Nottingham<br>
NG1 7AQ</p>
<p>Email: <a href="mailto:support@helpthehomeless.com">support@helpthehomeless.com</a></p>
<p>phone: 0800 578 2194</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1201.9223880563106!2d-1.149976!3d52.951216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879c22b2fbb4d19%3A0x256c204ada75403d!2sStanford%20House%2C%2019%20Castle%20Gate%2C%20Nottingham%20NG1%207AQ!5e0!3m2!1sen!2suk!4v1575812139804!5m2!1sen!2suk" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
{% endblock %}