certifi==2018.1.18
chardet==3.0.4
Django==1.11.25
django-forms-bootstrap==3.1.0
gTTS==1.2.2
gTTS-token==1.1.1
idna==2.6
mpg123==0.4
PyAudio==0.2.11
pyttsx==1.1
pytz==2019.3
requests==2.20.0
six==1.11.0
speech==0.5.2
SpeechRecognition==3.8.1
sqlparse==0.3.0
urllib3==1.25.7
