{% extends 'base.html' %}
{% block content %}
<h3>Donate</h3>
{% for items in cart_items %}
    <p>{{ items.donations.name }}</p>
    <img src="{{ MEDIA_ROOT }}{{ items.donations.images }}"></img>
    <p>{{ items.donations.description }}</p>
    <p>{{ items.amount }}</p>
    <form method="post" action="{% url 'adjust_donation' items.id %}">
    {% csrf_token %}
        <div class="input-group">
        <input name="amount" type="number" min="1" max="999" class="form-control" placeholder="amount">
        <span class="input-group-btn">
            <button class="btn btn-success" type="submit">Add</button>
        </span>
    </div>
    </form>
{% endfor %}
<a href="/" class="btn btn-success" role="button"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>Donate</a>
{% endblock %}