{% extends 'base.html' %}

{% block content %}
    <h3>About Us</h3>
    <p>Here at Help the Homeless, we aim to help lower the amount of people living on the streets, each year more and more young and old people are forced to live in terrable
    conditions because they have nowere else to go. for many of the young who are living rough the potentail for a better life goes ignored, either because oneone wants to take
    them in or provide them with the means to better take care of themselves. That is why we were founded, like many people out there we wish to help, to this end we decided it
    was time someone stood up and said no more!</p>
{% endblock %}