{% extends 'base.html' %}

{% block content %}
<div class="row row-flex">
    <div>
        <h3><a href="housing">Housing</a></h3>
        <p>The Housing project was set up to help people living on the street that require a place to stay
        whilst trying to get there life back on track. every home will have all the basic commodities need to provide 
        the with a comfortable living </p>
    </div>
    <div>
        <h3><a href="training">Training</a></h3>
        <p>It is our aim is to provide retraining so that all those we help can find employment. Each person on the help program
        will be required to take the manditory math and english courses, further thraining will be available once the manditory courses
        are done</p>
    </div>
    <div>
        <h3><a href="support">General support</a></h3>
        <p>The General support will be used to provide all the stuff needed to support the basic living needs such as food, clothing, medication
        transport funds for getting to interviews and classes for those who want to have a better life. unfortunatly we can't house every homeless
        person in which case some of the general support funds will go to providing food and blankets to those still living on the streets.</p>
    </div>
</div>
{% endblock %}